.title {
    display: block;
    font-size: var(--font-size1);
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

.section {
  display: block;
  background-color: var(--white);
  font-size: var(--font-size5);
  border-radius: var(--border-radius);
  height: 300px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content:baseline;
  overflow-y: auto;
}

.section_header {
  display: flex;
  font-size: var(--font-size2);
  color: var(--purple);
  justify-content: left;
  align-items: center;
}

.button_normal {
  display: inline-block;
  font-size: var(--font-size5);
  color: var(--white);
  background-color: var(--purple);
  padding-top: .7em;
  padding-bottom: .7em;
  width: 150px;
  margin-left: .2em;
  margin-right: .2em;
  margin-bottom: .5em;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
}

.button_normal:hover:not(.active) {
  background-color: var(--yellow);
}

.roversa_card {
  display: inline-block;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size5);
  border-style:none;
  height:120px;
  width:150px;
  max-width:145px;
  max-height:120px;
  margin:10px;
  padding:10px;
  color: var(--white);
}

.roversa_card:hover:not(.active) {
  filter: brightness(80%);
}

.add_button {
  display: inline-block;
  font-size: var(--font-size5);
  color: var(--white);
  background-color: var(--green);
  padding-top: .2em;
  padding-bottom: .2em;
  width: 170px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

/* Links on mouse-over */
.add_button:hover:not(.active) {
background-color: var(--yellow);
}

.popup_box {
  display:block;
  background-color: var(--light-purple);
  border-radius: var(--border-radius);
  height: 200px;
  width: 200px;
  color: var(--purple);
  z-index: 1000;
  position:relative;
  text-align: center;
  align-content: center;
  font-size: var(--font-size5);
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup_input_box {
  background-color: var(--white);
  margin: 10px;
  max-width:170px;
  width: 170px;
  border-radius: var(--border-radius);
  text-align: center;
  border-style: solid;
  font-size: var(--font-size5);
  color: var(--dark-purple);
}

.popup_create_button {
  font-size: var(--font_size4);
  color: var(--white);
  background-color: var(--green);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 80px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
  margin: 3px;
}

.popup_create_button:hover:not(.active) {
  background-color: var(--yellow);
  }

.popup_close_button {
  font-size: var(--font_size4);
  color: var(--white);
  background-color: var(--red);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 80px;
  margin: 3px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
}

.popup_close_button:hover:not(.active) {
  background-color: var(--yellow);
  }

.popup_refresh_button {
  font-size: var(--font_size4);
  color: var(--white);
  background-color: var(--purple);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 3px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
}
  
.popup_refresh_button:hover:not(.active) {
  background-color: var(--yellow);
}