div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  position: relative;
}

.title_centered {
  font-size: var(--font-size1);
  text-align: center;
  padding: 1em;
}

.subtitle_centered {
  font-size: var(--font-size2);
  text-align: center;
  padding: 1em;
} 