:root {
  --light-purple: #EAEAFF;
  --indigo: #7272E4;
  --white: #FFFFFF;
  --purple: #8D43C5;
  --dark-purple: #3d155c;
  --yellow: #FBBC27;
  --red: #fc382f;
  --green: #12bf68;
  --gray: #9680a7;
  --border-radius: 16px;
  --font-size1: 64px;
  --font-size2: 48px;
  --font-size3: 36px;
  --font-size4: 24px;
  --font-size5: 18px;
}

body {
  color: var(--purple);
  background: var(--light-purple);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

h1 {
  font-size: var(--font-size1);
}

h2 {
  font-size: var(--font-size2);
}

h3 {
  font-size: var(--font-size3);
}

h4 {
  font-size: var(--font-size4);
}

h5 {
  font-size: var(--font-size5);
}

select:invalid,
select option[value=""] {
  color: var(--gray);
}

th, td, tr {
  padding: 15px;
  text-align: center;
  table-layout:fixed;
  text-overflow: ellipsis; 
  overflow-x: hidden;
}

tr:hover {
  background-color: var(--light-purple);
}

table {
  width: 100%;
  table-layout:fixed;
  text-overflow: ellipsis; 
  overflow-x: hidden;
}