.page {
  display: block;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-varela-round);
  text-align: center;
  align-content: center;
}

.login_box {
  display:block;
  background-color: var(--white);
  padding-top: 1em;
  padding-bottom: 5em;
  padding-left: 5em;
  padding-right: 10em;
  max-block-size: 20em;
  width: 26em;
  border-radius: var(--border-radius);
  text-align: left;
  margin: auto;
}

.form_input_box {
  background-color: var(--white);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 10em;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: var(--border-radius);
  text-align: left;
  border-style:solid;
  font-size: var(--font_size4);
  color:var(--dark-purple);
}

.submit_button {
  font-size: var(--font_size4);
  color: var(--white);
  background-color: var(--purple);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
}

.submit_button:hover:not(.active) {
  background-color: var(--dark-purple);
}

.link {
  font-size: var(--font_size3);
  color: var(--purple);
  padding: 1.5em;
}

.link:hover:not(.active) {
  color: var(--dark-purple);
}