.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-varela-round);
  text-align: center;
}

.header {
  font-size: var(--font-size1);
  padding-top: 3em; 
  padding-bottom: 3em;
}

.login_box {
  display:block;
  background-color: var(--white);
  padding-top: 1em;
  padding-bottom: 5em;
  padding-left: 5em;
  padding-right: 10em;
  max-block-size: 20em;
  width: 26em;
  border-radius: var(--border-radius);
  text-align: left;
}

.form_input_box {
  background-color: var(--white);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 10em;
  border-radius: var(--border-radius);
  text-align: left;
  border-style:solid;
  font-size: var(--font_size4);
  color:var(--dark-purple);
}

.submit_button {
  font-size: var(--font_size4);
  color: var(--white);
  background-color: var(--purple);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
}

.padding_top {
  padding-top: 1em;
}

.padding_bottom {
  padding-bottom: 1em;
}

.link {
  font-size: var(--font_size3);
  color: var(--purple);
  padding: 1.5em;
}