.title {
  display: block;
  font-size: var(--font-size1);
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.section {
  display: block;
  background-color: var(--white);
  font-size: var(--font-size5);
  border-radius: var(--border-radius);
  height: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content:baseline;
  overflow-y: auto;
}

/* Button, default purple */
.button_purple, .button_white,
.button_red {
  display: inline-block;
  font-size: var(--font-size5);
  color: var(--white);
  background-color: var(--purple);
  padding-top: .7em;
  padding-bottom: .7em;
  width: 180px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
  margin-left: .2em;
  margin-right: .2em;
  margin-top: .2em;
  margin-bottom: .5em;
  text-decoration: none;
}

/* White button */
.button_white {
  color: var(--purple);
  background-color: var(--white);
}

/* Red button */
.button_red {
    background-color: var(--red);
  }

/* Change color on hover */
.button_purple:hover:not(.active),
.button_white:hover:not(.active),
.button_red:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--white);
}

.popup_box {
display:block;
background-color: var(--white);
border-radius: var(--border-radius);
height: fit-content;
width: fit-content;
color: var(--purple);
z-index: 1000;
position:relative;
text-align: center;
align-content: center;
font-size: var(--font-size5);
margin-top: 10px;
margin-bottom: 10px;
}

.popup_input {
background-color: var(--white);
margin: 10px;
max-width:170px;
border-radius: var(--border-radius);
text-align: center;
border-style: solid;
font-size: var(--font-size5);
color: var(--dark-purple);
}

.popup_button_green, 
.popup_button_red,
.popup_button_purple {
font-size: var(--font_size4);
color: var(--white);
background-color: var(--green);
padding-top: 0.5em;
padding-bottom: 0.5em;
width: 80px;
border-radius: var(--border-radius);
border-style: none;
text-align: center;
margin: 3px;
}

.popup_button_green:hover:not(.active),
.popup_button_red:hover:not(.active),
.popup_button_purple:hover:not(.active) {
background-color: var(--yellow);
}

.popup_button_red {
  background-color: var(--red);
}

.popup_button_purple {
  background-color: var(--purple);
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }