/* Button, default purple */
.button_purple, .button_white {
  display: block;
  font-size: var(--font-size5);
  color: var(--white);
  background-color: var(--purple);
  padding-top: .7em;
  padding-bottom: .7em;
  width: 200px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
  margin-bottom: .5em;
}

/* Button, change color on hover */
.button_purple:hover:not(.active) {
  background-color: var(--dark-purple);
  color: var(--white);
}

/* White button */
.button_white {
  color: var(--purple);
  background-color: var(--white);
}

/* White button, change color on hover */
.button_white:hover:not(.active) {
  background-color: var(--yellow);
  color: var(--purple);
}

.popup_box {
display:block;
background-color: var(--white);
border-radius: var(--border-radius);
height: 200px;
width: 200px;
color: var(--purple);
z-index: 1000;
position:relative;
text-align: center;
align-content: center;
font-size: var(--font-size5);
margin-top: 10px;
margin-bottom: 10px;
}

.popup_input {
background-color: var(--white);
margin: 10px;
max-width:170px;
border-radius: var(--border-radius);
text-align: center;
border-style: solid;
font-size: var(--font-size5);
color: var(--dark-purple);
}

.popup_button_green, .popup_button_red {
font-size: var(--font_size4);
color: var(--white);
background-color: var(--green);
padding-top: 0.5em;
padding-bottom: 0.5em;
width: 80px;
border-radius: var(--border-radius);
border-style: none;
text-align: center;
margin: 3px;
}

.popup_button_green:hover:not(.active),
.popup_button_red:hover:not(.active) {
background-color: var(--yellow);
}

.popup_button_red {
background-color: var(--red);
}
