.page {
  padding: 0;
  margin: 0;
  gap: 0;
  font-family: var(--font-varela-round);
  background-color: var(--light-purple);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  position: relative;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--indigo);
  position: fixed;
  height: 100%;
  overflow: fixed;
  text-align: center;
  align-items: center;
}

.classes_section {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 300px;
  background-color: var(--indigo);
  position: auto;
  overflow: auto;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: start;
  overflow-y: auto;
}

.img {
  display: block;
  margin: auto;
  padding-top: 1.5em;
  padding-bottom: 3em;
  width: 70%;
  height: 70%;
}

.label_white, .label_yellow {
  font-size: var(--font-size5);
  color: var(--white);
  margin: 1em;
}

.label_yellow {
  color: var(--yellow);
}