.robot_card {
  display: inline-block;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size5);
  border-style:none;
  height:120px;
  width:150px;
  max-width:145px;
  max-height:120px;
  margin:10px;
  padding:10px;
  color: var(--white);
}

.robot_card_button {
  display: block;
  font-size: var(--font-size6);
  color: var(--white);
  background-color: var(--purple);
  padding-top: .2em;
  padding-bottom: .2em;
  width: 150px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: var(--border-radius);
  border-style: none;
  text-align: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

/* Links on mouse-over */
.robot_card_button:hover:not(.active) {
background-color: var(--dark-purple);
}